* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


/* Header styling */
.main-header {
    background-color: #1F2937;
    height: 66px;
    padding: 0 18% 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
    border-bottom: 2px solid gray;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    margin-right: auto;
    font-weight: bold;
}

.header-link {
    font-size: 18px;
    color: #e5e7eb;
    cursor: pointer;
}

.header-link:hover {
    color: lightblue;
}

/* Title content styling */

.title-content {
    display: flex;
    width: 100%;
    background-color: #1f2937;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    gap: 140px;
    padding-bottom: 120px;
}

.main-title {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.hero-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 8px;
}

.hero-secondary {
    font-size: 18px;
    margin: 8px 0;
    color: #e5e7eb;
}

.sign-up {
    background-color: #3882f6;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 8px;
    width: 125px;
    cursor: pointer;
}

.sign-up:hover {
    background-color: green;
}

.img-container {
    display: flex;
    color: white;
    background-color: gray;
    width: 480px;
    height: 220px;
    justify-content: center;
    align-items: center;
}

/* info content styling */

.info-content {
    margin-top: 50px;
    margin-bottom: 75px;
}

.info-title {
    width: 100%;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.subtext-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
    gap: 50px;
}

.img1, .img2, .img3, .img4 {
    border: 4px solid #3882f6;
    border-radius: 10px;
    height: 150px;
    width: 150px;
}

.subtext {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
    gap: 50px;
}

.text1, .text2, .text3, .text4 {
    width: 150px;
    text-align: center;
    font-size: 18px;
    color: #1f2937;
}

/* quote content styling */

.quote-content {
    background-color: #e5e7eb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
    padding: 100px 400px 0;
    flex-wrap: wrap;
}

.quote {
    flex-basis: auto;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.quote-author {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 100%;
    margin-top: -175px;
}

.author {
    font-size: 32px;
    font-weight: bold;
    flex-basis: auto;
}

/* call to action styling */

.call-to-action {
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-main {
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 50px 75px;
    width: 80%;
    margin-bottom: 100px;
}

.cta-text {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.cta-subtext {
    font-size: 24px;
    font-weight: 300;
}

.cta-button {
    margin-left: auto;
    height: 48px;
    align-self: center;
    padding: 0 35px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

.cta-button:hover {
    background-color: green;
}

/* footer styling */

.footer {
    background-color: #1F2937;
    padding: 44px 0;
}

.footer-text {
    color: white;
    text-align: center;
    font-size: 20px;
}

.footer-text a {
    color: lightblue;
}

.footer-text a:visited {
    color: lihtpink;
}